#markdown-container{
    max-width: 960px;
    padding: 64px;
    // margin: 0 auto;
    box-sizing: border-box;
    width: calc(100vw - 240px);
    display: inline-block;

    p, h1,h2,h3,h4,h5, span, div{
        font-family: 'Red Hat Display', sans-serif;
    }

    code {
        p, h1,h2,h3,h4,h5, span, div{
            font-family: Consolas,monaco,monospace; 
        }
    }
}